:root {
  --primary-font: "Poppins", "sans-serif";
  --border-color: #ccc;
  --box-shadow-color: rgba(0, 0, 0, 0.1);
  --link-color: #3498db;
  --link-hover-color: #2980b9;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", "sans-serif";
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
 
}

.menu {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu a {
  text-decoration: none;
  color: white;
  padding: 10px 20px;
  border: 2px solid #2980b9;
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s;
  cursor: pointer;
}

.menu a:hover {
  background-color: #2980b9;
  color: #fff;
}

.container-1 {
  border: 2px solid #ccc;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  align-items: center;
  min-height: 80vh;
}

a,
.btnAdicionar {
  display: inline-block;
  margin: 3px;
  margin-bottom: 20px;
  padding: 10px 20px;
  text-decoration: none;
  color: #fff;
  background-color: #3498db;
  border: 2px solid #2980b9;
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s;
  cursor: pointer;
  width: 150px;
  text-align: center;
}

a:hover,
.btnAdicionar:hover {
  background-color: #2980b9;
  color: #fff;
}

.container-2 {
  width: 100%;
  min-height: 80vh;
  overflow: auto;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  border: 2px solid #ccc;
  padding: 10px;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  margin: auto; /* Adiciona margem automática para centralizar */
  align-items: center;
  justify-content: center;
}

.container-2 label {
  font-weight: 700;
}

.user-form {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin: 20px;
  margin-bottom: 20px;
  height: 50px;
  width: auto;
}



input {
  height: 30px;
}

.listaUsers {
  position: relative;
  list-style: none;
  text-decoration: none;
  margin-bottom: 10px;
  padding: 5px;
}

.input-container {
  position: relative;
  display: flex;
  align-items: center;
}

.input-container input {
  flex: 1;
  padding-right: 50px;

}

.input-container .fa-trash {
  position: absolute;
  right: 5px;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.li {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: space-around;
  justify-content: space-between;
}

#user-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

#user-list li {
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 10px;
  padding: 10px;
  width: calc(50% - 40px);
  box-sizing: border-box;
}

#user-list img {
  max-width: 100%;
  height: auto;
}

ul {
  list-style-type: none;
}

@media (max-width: 768px) {
  .container-2 {
    padding: 10px; /* Ajuste para larguras menores */
  }
}

.footer p {
  margin: 30px;
}

h2 { 
  font-size: 20px;
}
p {
  margin-bottom: 15px;
}


